<h1>All tags</h1>
<hi> Welcome to hell..</hi>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag_path(tag), class: 'tag_title' %>
    </li>
      <% end %>
</ul>

<%= link_to "Create a New tag", new_tag_path, class: "new_tag" %>
